.flipcard {
    position: relative;
    transform-style: preserve-3d;
    /* transition: all 0.5s linear; */
    transition: transform 0.8s;
    display: block;
    margin: 0 auto;
}

@media screen and (orientation:portrait) {
    .flipcard {
        top: 25vh;
        width: 100%;
    }
}

@media screen and (orientation:landscape) {
    .flipcard {
        top: 2vh;
        width: 65%;
    }
}

.flipcard-front, .flipcard-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    z-index: 2;
}

.flipcard-back {
    transform: rotateY(180deg);
    z-index: 1;
}

.flipped {
    transform: rotateY(180deg);
}
