.datum-table {
    display: table;
    width: 100%;
    height: 100%;
    font-size: 3vmin;
}

.datum-col {
    text-align: center;
    vertical-align: middle;
}

@media screen and (orientation:portrait) {
    .datum-row {
        display: table-row;
    }
    .datum-col {
        display: table-cell;
    }
}

@media screen and (orientation:landscape) {
    .datum-row {
        height: 50%;
        display: block;
    }
    .datum-col {
        height: 33.33%;
        display: block;
        padding-top: 2.5vw;
    }
}
