/* dashboard */

@media screen and (orientation:portrait) {
    .dash-top, .dash-bottom {
        position: absolute;
        width: 100%;
        height: 25%;
        text-align: right;                
    }

    .dash-center {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 25%;
    }

    .dash-bottom {
        left: 0;
        bottom: 0;
    }
}

@media screen and (orientation:landscape) {
    .dash-top, .dash-bottom {
        position: absolute;
        width: 25%;
        height: 100%;
        text-align: left;
    }

    .dash-center {
        position: absolute;
        width: 50%;
        height: 100%;
        left: 25%;
    }

    .dash-bottom {
        top: 0;
        right: 0;
    }
}
