/* jumbo meter */

.jumbo-meter-box {
    background: #ccc;
    position: relative;
}

.jumbo-meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    display: block;
}

.jumbo-meter-value {
    font-size: 5vh;
    font-weight: bold;
    position: absolute;
    top: -1vh;
    right: 0;
}

.jumbo-meter::-webkit-meter-bar {
    background: transparent;
}

.jumbo-meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
}

.jumbo-meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A; /* Yellow */
}

.jumbo-meter::-webkit-meter-even-less-good-value {
    background: #CC4600; /* Red */
}