/* mini meter */

.mini-meter-box {
    display: table;
    width: 100%;
    height: 100%;
}

.mini-meter-box > div {
    display: table-row;
}

.mini-meter-box > div > div {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (orientation:portrait) {
    .mini-meter-box > div > div {
        white-space: nowrap;
        overflow: hidden;
    }
}

.mini-meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3vw;
}

@media screen and (orientation:portrait) {
    .mini-meter {
        width: 50%;
    }
}

@media screen and (orientation:landscape) {
    .mini-meter {
        width: 100%;
    }
}

.mini-meter-title,
.mini-meter-value {
    font-size: 3vw;
}

.mini-meter-value {
    font-weight: bold;
}

.mini-meter::-webkit-meter-bar {
    background: transparent;
}

.mini-meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
}

.mini-meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A; /* Yellow */
}

.mini-meter::-webkit-meter-even-less-good-value {
    background: #CC4600; /* Red */
}

